* {
	font-family: sans-serif;
	font-size: 14px;
}

body {
	margin: 0; padding: 0;
	width: 100%; height: 100%;
	background: url("http://i.imgur.com/yPFaQhH.png");
}

canvas {
	width: 100%; height: 100%;
	margin: 0; padding: 0;
    background-image: url(http://www.helpedittext.com/_img/bg-body.jpg);
}

#score {
    width: 15%;
    height: 5%;
    margin; 5px;
    position: absolute;
    text-align: center;
    color: whitesmoke;
    font-size: large;
    top: 0;
    right: 0;
    background:rgba(255,255,255,0.5);
}

#startMenu {
	margin:auto;
	margin-top:100px;
	width: 350px;
	padding: 20px;
	border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	background-color: cadetblue;
	box-sizing: border-box;
}

#settingslist {
    transition: max-height 1s;
    overflow: hidden;
}

#settingslist {
    max-height: 0;
}

#startMenu p {
	padding: 0;
	text-align:center;
	font-size: x-large;
	font-weight: bold;
}

#playerNameInput {
	width: 100%;
	text-align: center;
	padding: 10px;
	border: solid 1px #dcdcdc;
	transition: box-shadow 0.3s, border 0.3s;
	box-sizing: border-box;
	border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	margin-bottom: 10px;
	outline: none;
}

#playerNameInput:focus, #playerNameInput.focus {
	border: solid 1px #CCCCCC;
	box-shadow: 0 0 3px 1px #DDDDDD;
}

#startButton {
	position: relative;
	margin: auto;
	margin-top: 10px;
	width: 100%;
	height: 40px;
	box-sizing: border-box;
	font-size: large;
	color: white;
	text-align: center;
	background: grey;
	border: 0;
	border-bottom: 2px solid dimgray;
	cursor: pointer;
	box-shadow: inset 0 -2px slategray;
	border-radius: 5px 5px 5px 5px;
	margin-bottom: 10px;
}

#startButton:active, #startButton:hover {
	top: 1px;
	background: darkgrey;
	outline: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

#settingsButton {
    position: relative;
	margin: auto;
	margin-top: 10px;
	width: 100%;
	height: 40px;
	box-sizing: border-box;
	font-size: large;
	color: white;
	text-align: center;
	background: grey;
	border: 0;
	border-bottom: 2px solid dimgray;
	cursor: pointer;
	box-shadow: inset 0 -2px slategray;
	border-radius: 5px 5px 5px 5px;
	margin-bottom: 10px;
}

#settingsButton:active, #settingsButton:hover {
	top: 1px;
	background: darkgrey;
	outline: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

#startMenu h3 {
	padding-bottom: 0;
	margin-bottom: 0;
}

#startMenu ul {
	margin: 10px; padding: 10px;
	margin-top: 0;
}

#startMenu .input-error {
  color : red;
  display: none;
  font-size : 12px;
}
